body {
    text-transform: capitalize;
}

h1 {
    font-weight: 900;
   font-size: 60px;
}

p {font-size: 30px;
font-weight: 500;}

button {background-color: blue;
color: white;}

button:hover{
    background-color: teal;
}